body {
  margin: 0;
  width: 100vw;
  max-width: 100%;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar {
  background-color:#1d1d1d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  margin-bottom: 10px;
} 

.navbar .left{
  color: white;
  font-size: 30px;
  margin: 0px;
  height: fit-content;
}

.navbar img{
  height: 40px;
}

.App {
  background-color: #292929;
  min-height: 100vh;
}

.main{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.kvalita{
  background-color: #5fa44e70;
  height: fit-content;
  padding-bottom: 25px;
  margin: 20px;
  box-shadow: 3px 3px 10px 2px rgba(0,0,0,0.25);
}

.spotreba{
  background-color: #ba473c70;
  height: fit-content;
  padding-bottom: 25px;
  margin: 20px;
  box-shadow: 3px 3px 10px 2px rgba(0,0,0,0.25);
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px 20px 0px;
  padding: 30px 25px;
  min-width: 450px;
  font-size: 25px;
  background-color:#1d1d1d;
  box-shadow: none;
  transition: box-shadow 0.6s ease-out;
}

.box:hover{
  box-shadow: 3px 3px 10px 2px rgba(0,0,0,0.45);
}

.box h2{
  color: white;
  text-wrap: wrap;
  font-size: 26px;
  margin: 0px 0px 10px;
}

.box p {
  color: white;
  margin: 5px;
  font-size: 20px;
}

.timestamp{
  font-size: 14px !important;
  margin: 0px !important;
}

